# Virtual Environment
venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS/Linux
.DS_Store

# Others Folder
Others/
RAG/Vector_Store/my_chroma_db/